body{
    background: linear-gradient(to bottom, #3a3a3a, #0b0b0b);
    color: #eee;
    min-height: 100vh;
}

h1{
    text-align: center;
    margin: 30px;
}

#dateSearch, #RangeSearch{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 20px;
    margin: 10px;
    margin-bottom: 50px;
}

#dailyCO2, #dailyRangeCO2{
    font-size: xx-large;
    color: #222;
    margin-left: 30px;
}


#emission{
 font-size: 200px;
 color: #222;
}



#head{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content:space-evenly;
}
#head1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
   }
#head2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
   }

 #btn, #Datebtn, #Rangebtn, button{
    padding :5px; 
    border-radius:2px ;
    font-size: medium;
    margin: 5px;
    color:#ffffff;
    background-color: rgb(78, 71, 78);
}
#csvSelect{
    padding :5px 40px; 
    border-radius:2px ;
    font-size: medium;
    margin: 5px;
    color:#fffcfc;
    background-color: rgb(78, 71, 78); 
}
#date {
    padding: 5px;
    font-size: medium;
    background-color: #3a3a3a;
    color: #eee;
}
#rangeStart, #rangeEnd{
    margin: 5px;
    font-size: medium;
    background-color: #3a3a3a;
}

#inputElements{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
label{
    font-size: medium;
}
h4{
    display: inline;
    
}


#container{
    flex: 1;
    min-width: 45%; 
    color: #eee;
    margin: 20px;
    text-align: left;
    padding: 30px 30px 60px 30px;
    border: 2px solid #00eeffbb;
    border-radius: 4px;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);

   }

#MetadataHeader{
    font-weight: bold;
    text-align: center;
    
}
#container div{
    margin: 10px 10px;
}
#emissionRateChart{
    width: 45%;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);
    margin: 20px;  
}

#energyComparisonChart{
    flex: 1;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);
    max-width: 45%; 
    margin: 20px;
}

#powerComparisonChart{
    width: 45%;
    box-shadow: 0px 0px 100px rgba(135, 78, 138, 0.4);
    margin: 20px;  
}

#dataCircle{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 30px;
    border-radius: 50%;
    border: 2px solid #00eeffbb;
    box-shadow: 0px 0px 300px rgba(135, 78, 138, 0.4);
}

#avgNum{
    font-weight: bolder;
    font-size:xx-large;
    margin:0px;
    padding: 0px;
}
h3{
    text-align: center;
}
#circle{
    margin: 30px;
}
#second{
    margin-left: 10px ;
}
#projectDropdown{
    margin:0px;
    padding: 0px;
    width: 150px;
    color: #3a3a3a;

}
#runIdBtn{
    padding: 5px;
    border-radius: 2px; 
    font-size: medium;
    color: #ffffff;
    background-color: rgb(78, 71, 78);
}
#p-search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
#run-id{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: 20px;
    color: #bbb;
  }
